form{
    text-align: center !important;
}

.center-rows{
    max-width: 800px;
    width: 80%;
    margin: 0px auto;
    padding: 20px 0;
}


h1{
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
}

p{
    font-size: 20px;
    line-height: 150%;
    border-bottom: 1px solid purple;
}

p, textarea{
    font-family: 'Amatic SC', cursive;
}

label{
    display: block;
}

input{
    width: 80%;
    padding: 4px;
    margin: 6px 0 12px 0;
}

input[type=text], input[type=date]{
    border: 2px solid #8bc763;
    border-radius: 4px;
    box-sizing: border-box;
}

.dropdown {
    width: 80%;
    padding: 16px 20px;
    margin: 6px 0 12px 0;
    border: none;
    border-radius: 4px;
    background-color: #8bc763;
}

textarea {
    height: 150px;
    width: 80%;
    background-color: #f8f8f879;
    resize: none;
    box-sizing: border-box;
    border-radius: 4px;
    border: 2px solid #8bc763;
    padding: 12px 20px;
    font-size: medium;
}

.upload{
    width: 180px;
    display: block;
    margin: 0 auto;
}


.submit{
    background-color: #8bc763;
    width: 80%;
    padding: 10px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}
.btn{
    text-decoration: none;
}
.btn-danger{
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 4px;
    cursor: pointer;
    padding: 4px;
}

/* Float four columns side by side */
.column {
    display: inline-flex;
    width: 30%;
    padding: 10px 10px;
}
  
/* Remove extra left and right margins, due to padding in columns */
.row {
    margin: 0 auto;
}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
/* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    width: 80%;
}
  
  /* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
    .column {
      width: 80%;
      display: inline-block;
      margin-bottom: 20px;
    }
}

@media screen and (min-width:670px){
    .flex_container{
        display: flex;
        padding: 0;
        justify-content: center;
    }
    .flex__child{
        padding: 2px;
        width: 30%;
    }
}